@model IEnumerable<MedicoWeb.Models.HoraireModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdHoraire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebAprem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinAprem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdHoraire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebAprem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinAprem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
